<div>
  <h4><%= link_to title, url %></h4>

  <% if author.present? && twitter.present? %>
    <span>
      by <%= author %>
      <%= link_to "@#{twitter}", "https://twitter.com/#{twitter}" %>
    </span>

    <%# {% if include.author2 and include.twitter2 %} %>
      <%# <span class="text-sm text-gray-600">and {{ include.author2 }} <a href="https://twitter.com/{{ include.twitter }}" class="text-gray-700">@{{ include.twitter2 }}</a></span> %>
    <%# {% elsif include.author2 %} %>
      <%# <span class="text-sm text-gray-600">and {{ include.author2 }}</span> %>
    <%# {% endif %} %>
  <% elsif author.present? %>
    <span>by <%= author %></span>
  <% end %>

</div>
