<div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium text-teal-500">
  <%= content %>
  <%= inline_svg "icons/mini/chevron_right.svg", class: "ml-1.5 h-3 w-3 stroke-current" %>
</div>
