<%# TODO: POST to ConvertKit. %>
<form action="/thank-you" class="rounded-2xl border border-zinc-100 p-6">
  <h2 class="flex text-sm font-semibold text-zinc-900">
    <%= inline_svg "icons/outline/envelope.svg", class: "h-6 w-6 flex-none text-zinc-500" %>
    <span class="ml-3">Stay up to date</span>
  </h2>

  <p class="mt-2 text-sm text-zinc-600">
    Get notified when I publish something new, and unsubscribe at any time.
  </p>

  <div class="mt-6 flex">
    <input type="email" placeholder="Email address" aria-label="Email address" required autocomplete="email" class="min-w-0 max-w-xs flex-auto appearance-none rounded-md border border-zinc-900/10 bg-white px-3 py-[calc(theme(spacing.2)-1px)] shadow-md shadow-zinc-800/5 placeholder:text-zinc-400 focus:border-primary-500 focus:outline-none focus:ring-4 focus:ring-primary-500/10 sm:text-sm">
    <%= render Button.new(class_name: "ml-4 flex-none") do %>
      Join
    <% end %>
  </div>
</form>
