---
title: Articles
description: |
  Over the years I’ve published dozens of articles — some more noteworthy
  than others. Here are some of my personal favorites.

---

<%= render UI::SimpleLayout.new(
  title: "My writing on Turbo Native, Ruby on Rails, and how I build successful businesses.",
  intro: current_page.data["description"]
) do %>
  <div class="flex max-w-3xl flex-col space-y-16">
    <% ArticlePage.favorites.each do |article| %>
      <%= render Article.new(article, wide: true, hide_date: true) %>
    <% end %>
  </div>

  <div class="prose mt-16">
    <p>Read the rest of my articles in the <%= link_to "archives", "/archives" %>.</p>
  </div>
<% end %>
