---
title: Need a hand with your Turbo Native app? I'd love to help.
description: |
  I've been working with Turbo Native since 2015. Since then I've helped half
  a dozen businesses launch in the App Store and consulted for twice as many.
  Here's how I can help you port your Rails app to iOS with Turbo Native.
image: pages/services.png

---

<%= render UI::SimpleLayout.new(
  title: current_page.data.title,
  intro: current_page.data.description
) do %>
  <div class="flex max-w-xl flex-col space-y-16">
    <% data.services.each do |service| %>
      <%= render Service.new(**service.to_h.to_options.merge(href: data.socials.email.url)) %>
    <% end %>
  </div>
<% end %>
