<div class="not-prose">
  <div class="rounded-2xl border border-zinc-100 p-6">
    <h3 class="flex items-center font-semibold text-zinc-900">
      <%= inline_svg "icons/outline/envelope.svg", class: "h-6 w-6 flex-none" %>
      <span class="ml-3"><%= local_assigns[:title] || "Subscribe to the ⚡️ Turbo Native workshop" %></span>
    </h3>

    <p class="mt-2 text-sm text-zinc-600">Turbo (Native), Stimulus, and Strada articles, code, courses, and more every month.</p>

    <div class="mt-6">
      <%= render EmailCapture.new(data.newsletters.hotwire, cta: "Sign up") %>
    </div>
  </div>
</div>
